{
  "url": "http://localhost:1933",
  "api_key": null,
  "root_api_key": null,
  "account": null,
  "user": null,
  "timeout": 60.0,
  "output": "table",
  "echo_command": true,
  "extra_headers": null
}
