node_modules
.DS_Store
dist
dist-ssr
.vite
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# 根目录的 gitignore 有一些不合理的规则，在这里覆盖掉
!src/lib/
!src/lib/**

!src/components/legacy/data

!AGENTS.md

script/gen-server-client/generate
